// About Me
.about-me {
    @include flex(flex-end);

    &__list {
        @include flex();
        margin: 0 1rem;
    }
    &__item {
        cursor: pointer;
        margin: 0 0.25rem;
    }
    &__icon {
        @include flex();
        transform: all 0.2s;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
    }
    &__svg {
        height: 1.75rem;
        width: 1.75rem;
        &--theme {
            height: 2rem;
            width: 2rem;
        }
        &--activity {
            height: 1.85rem;
            width: 1.85rem;
        }
        &--logout {
            height: 1.65rem;
            width: 1.65rem;
        }
    }

    &__link {
        @include flex();
        padding: 0.5rem;
        margin: 0.5rem;
        margin-right: 2rem;
        border-radius: 50%;
        transition: all 0.2s;
        cursor: pointer;
    }

    &__photo {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
    }
}
