//----------------------------------
// Alert
.alerts {
    height: 0;
    width: 0;
}
.alert {
    position: fixed;
    top: 1%;
    left: 51%;
    transform: translateX(-50%);
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    border-bottom: 0.1rem solid;
    @include flex();
    z-index: 8;

    &__svg {
        height: 1.4rem;
        width: 1.4rem;
        margin-right: 1.2rem;
        &--success,
        &--failure {
        }
        &--info {
            height: 1.6rem;
            width: 1.6rem;
        }
    }
    &__message {
        font-size: $font-size-regular-2;
    }
}
