// Chat Profile
.chat-profile {
    &__user,
    &__stranger,
    &__friend,
    &__receive-request,
    &__sent-request {
        margin: 0.5rem;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 60rem;
        &--form {
            @include flex();
            @include direction(column);
            align-items: stretch;
        }

        &-content,
        &-avatar,
        &-about {
            border-radius: 0.5rem;
            margin: 0.5rem;
        }
        // Content
        &-content {
            @include flex();
            @include direction(column);
            &--img {
                border-radius: 50%;
                height: 15rem;
                width: 15rem;
                margin: 2rem;
            }
            &--name {
                margin-bottom: 1rem;
                font-size: $font-size-medium;
                font-weight: $font-weight-bold;
                letter-spacing: 0.05rem;
                word-spacing: 0.1rem;
            }
        }
        // About
        &-about {
            &--group {
                @include flex();
                align-items: stretch;
                @include direction(column);
                margin: 2rem 1rem;
            }
            &--label {
                font-size: $font-size-regular;
                margin-bottom: 0.25rem;
                margin-left: 0.75rem;
            }
            &--input {
                flex: 1;
                padding: 0.75rem;
                font-size: $font-size-regular-1;
                border-radius: 0.5rem;
                border: none;
            }
            textarea {
                font-family: inherit;
                font-size: $font-size-regular;
                resize: vertical;
            }
        }
    }
    // User
    &__user {
        // Content
        &-content {
            &--pic {
                position: relative;
            }
            &--upload {
                position: absolute;
                top: 77.5%;
                left: 77.5%;
                transform: translate(-50%, -50%);
            }

            &--label {
                @include flex();
                height: 3.5rem;
                width: 3.5rem;
                border-radius: 50%;
                cursor: pointer;
            }
            &--svg {
                height: 2rem;
                width: 2rem;
            }

            &--input {
                // Hiding
                display: none;
                visibility: hidden;
                opacity: 0;
            }
        }
        // Avatar
        &-avatar {
            @include flex();
            @include direction(column);
            align-items: stretch;
            padding: 0.75rem 0;
            &--label {
                font-size: $font-size-regular;
                margin-left: 2rem;
                margin-bottom: 0.5rem;
            }
            &--container {
                @include flex(space-evenly);
                margin: 0.5rem 0;
            }
            &--group {
                @include flex();
                cursor: pointer;
                position: relative;
            }
            &--icon {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 60%;
                left: 60%;
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                transition: all 0.2s;
                @include flex();
                &-selected {
                    visibility: visible;
                    opacity: 1;
                }
            }
            &--svg {
                height: 1rem;
                width: 1rem;
            }
            &--img {
                border-radius: 50%;
                height: 4rem;
                width: 4rem;
            }
        }
        // About
        &-about {
            &--edit {
                @include flex(space-between);
            }
            &--svg {
                height: 2rem;
                width: 2rem;
                margin-bottom: 0.75rem;
                margin-right: 1rem;
                transition: all 0.4s;
                cursor: pointer;
            }
        }

        &-save {
            border-radius: 0.5rem;
            margin: 0.5rem;
            @include flex();
        }
        &--update {
            align-self: center;
            border-radius: 2rem;
            padding: 1rem 2rem;
            margin: 1rem 0;
            font-size: $font-size-regular-2;
            font-weight: $font-weight-bold;
            cursor: pointer;
            border: none;
            text-transform: capitalize;
        }
    }

    &__stranger,
    &__friend,
    &__receive-request,
    &__sent-request {
        &-content {
            &--icon {
                transition: all 0.2s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        &-about {
            &--edit {
                @include flex(flex-start);
            }
        }
    }

    &__stranger,
    &__sent-request {
        &-content {
            &--pic {
                position: relative;
            }
            &--icon {
                @include flex();
                height: 3.5rem;
                width: 3.5rem;
                position: absolute;
                top: 67.5%;
                left: 67.5%;
                border-radius: 50%;
                cursor: pointer;
            }
            &--svg {
                height: 2rem;
                width: 2rem;
            }
        }
    }

    &__friend,
    &__receive-request {
        &-content {
            &--container {
                @include flex();
                margin-bottom: 1.5rem;
            }
            &--icon {
                @include flex();
                height: 3.5rem;
                width: 3.5rem;
                margin: 0 1rem;
                border-radius: 1rem;
                cursor: pointer;
            }
            &--svg {
                width: 1.75rem;
                height: 1.75rem;
            }
        }
    }

    // Setting and Activity
    &-setting,
    &-activity {
        margin: 0.5rem;

        @include flex();
        @include direction(column);
        align-items: stretch;
        &__heading {
            padding: 0.5rem 1.5rem;
            margin: 0.75rem;
            margin-right: 5rem;
            margin-left: 5rem;
            margin-bottom: 1.5rem;
            border-radius: 1rem;
            font-weight: $font-weight-bold;
            font-size: $font-size-medium;
            letter-spacing: 0.05rem;
            text-align: center;
        }
        &__list {
            // ! For Development
            max-height: 55rem;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 1rem;
        }
        &__item {
            @include flex();
            @include direction(column);
            align-items: stretch;
            margin: 1rem 0;
        }
        &__title {
            @include flex(flex-start);
            letter-spacing: 0.02rem;
            border-radius: 0.2rem;
            transition: all 0.2s;
            padding: 0.5rem 0;
            cursor: pointer;
        }
        // Content
        &__content {
            margin: 0.5rem;
            flex: 1;
            @include flex();
            @include direction(column);
            align-items: flex-start;
        }

        &__svg {
            height: 2rem;
            width: 2rem;
            margin: 0.5rem 1.5rem;
            &--delete,
            &--password {
                height: 1.75rem;
                width: 1.75rem;
            }
            &--wallpaper {
                height: 2.25rem;
                width: 2.25rem;
            }
            &--animate,
            &--game {
                height: 2.5rem;
                width: 2.5rem;
            }
        }
        &__span {
            font-size: $font-size-regular-2;
            letter-spacing: 0.04rem;
        }
        &__description {
            font-size: $font-size-regular;
        }
    }

    // Sub Setting
    &-setting {
        // Heading
        &-color,
        &-wallpaper,
        &-privacy {
            margin: 0.5rem;

            @include flex();
            @include direction(column);
            align-items: stretch;

            &__header {
                @include flex();
                &--heading {
                    flex: 1;
                    padding: 0.5rem 0rem;
                    margin: 0.75rem 3rem;
                    margin-left: 1.5rem;
                    font-weight: $font-weight-bold;
                    font-size: $font-size-medium;
                    border-radius: 1rem;
                    letter-spacing: 0.05rem;
                    text-align: center;
                }
                &--back {
                    @include flex();
                    border-radius: 50%;
                    padding: 1rem;
                    margin-left: 1rem;
                    cursor: pointer;
                    &-svg {
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }
            }
        }
        // List
        &-color,
        &-wallpaper {
            &__list {
                // ! For Development
                max-height: 50rem;
                overflow-x: hidden;
                overflow-y: scroll;
                margin-top: 1rem;
                padding: 1rem;
                @include flex();
                flex-wrap: wrap;
            }
            &__item {
                @include flex();
                margin: 1.25rem 1rem;
            }
            // Content
            &__content {
                cursor: pointer;
                border-radius: 0.5rem;
                position: relative;
            }
            &__icon {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 60%;
                left: 60%;
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                @include flex();
                transition: all 0.2s;
                &--selected {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &__svg {
                height: 1rem;
                width: 1rem;
            }
        }

        // Color
        &-color {
            &__content {
                height: 6.5rem;
                width: 6.5rem;
            }
        }
        // Wallpaper
        &-wallpaper {
            &__content {
                height: 15rem;
                width: 12rem;
                transition: all 0.2s;
                border: 0.2rem solid;
            }
        }
    }

    // Sub Activity
    &-activity {
        &-animate,
        &-game {
            margin: 0.5rem;

            @include flex();
            @include direction(column);
            align-items: stretch;

            // Heading
            &__header {
                @include flex();
                &--heading {
                    flex: 1;
                    padding: 0.5rem 0rem;
                    margin: 0.75rem 3rem;
                    margin-left: 1.5rem;
                    font-weight: $font-weight-bold;
                    font-size: $font-size-medium;
                    border-radius: 1rem;
                    letter-spacing: 0.05rem;
                    text-align: center;
                }
                &--back {
                    @include flex();
                    border-radius: 50%;
                    padding: 1rem;
                    margin-left: 1rem;
                    cursor: pointer;
                    &-svg {
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }
            }
            // List
            &__list {
                // ! For Development
                max-height: 55rem;
                overflow-x: hidden;
                overflow-y: scroll;
                padding: 1rem;
            }
            &__item {
                @include flex();
                @include direction(column);
                align-items: stretch;
                margin: 1rem 0;
            }
            &__title {
                @include flex(flex-start);
                letter-spacing: 0.02rem;
                border-radius: 0.2rem;
                transition: all 0.2s;
                padding: 0.5rem 0;
                cursor: pointer;
            }
            // Content
            &__content {
                margin: 0.5rem;
                flex: 1;
                @include flex();
                @include direction(column);
                align-items: flex-start;
            }

            &__svg {
                height: 2rem;
                width: 2rem;
                margin: 0.5rem 1rem;
                &--fractal-tree,
                &--mandelbrot-set {
                    height: 2.5rem;
                    width: 2.5rem;
                }
            }
            &__span {
                font-size: $font-size-regular-2;
                letter-spacing: 0.04rem;
            }
            &__description {
                font-size: $font-size-regular;
            }
        }
    }
}
