// -----------------------------------------
// Form
.forms {
    height: 0;
    width: 0;
}
.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: blur 1s ease;
    backdrop-filter: blur(0.2rem);
    cursor: pointer;
    z-index: 6;
}

.user-login,
.user-signup,
.user-forget,
.user-reset,
.user-update {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    @include flex();
    @include direction(column);
    letter-spacing: 0.05rem;
    animation: TopToDown 1s ease;
    z-index: 7;
    cursor: initial;
    padding: 0.5rem;
    padding-bottom: 3rem;

    &__title {
        text-align: center;
        font-size: $font-size-largest;
        font-weight: $font-weight-bolder;
        margin: 4rem 0 2rem 0;
    }
    &__form {
        user-select: none;
        @include flex();
        flex: 1;
        @include direction(column);
        margin: 0 10rem;
        &--group {
            @include flex();
            @include direction(column);
            position: relative;
            margin: 1.5rem;
        }

        &--label {
            font-size: $font-size-regular-2;
            font-weight: $font-weight-bold;
            margin-bottom: 0.5rem;
            margin-right: auto;
        }
        &--input {
            width: 35rem;
            font-size: $font-size-regular-1;
            font-family: inherit;
            color: inherit;
            padding: 1rem 2rem;
            padding-right: 4.5rem;
            border-radius: 0.3rem;
            border: none;
            border-bottom: 0.3rem solid;
            transition: all 0.4s;
            letter-spacing: 0.04rem;

            &:focus {
                border-bottom: 0.3rem solid;

                &:invalid {
                    border-bottom: 0.3rem solid;
                }
            }
        }
        &--toggle {
            position: absolute;
            right: 0;
            margin: 1rem;
            @include flex();
            transition: all 0.2s;
            cursor: pointer;
            &-svg {
                height: 1.75rem;
                width: 1.75rem;
            }
        }
        &--btn {
            font-weight: $font-weight-bold;
            font-size: $font-size-regular-2;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            border: none;
            padding: 1rem 5rem;
            margin-top: 3rem;
            border-radius: 10rem;
            cursor: pointer;
            &:disabled {
                cursor: not-allowed;
            }
        }
        &--addon {
            padding: 0.5rem 1.5rem;
            text-transform: capitalize;
            font-size: $font-size-regular-1;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        &--forget {
            font-size: $font-size-regular;
            margin: 0.5rem;
            margin-left: auto;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__cross {
        position: absolute;
        top: 2%;
        right: 2%;
        margin: 0.5rem;
        cursor: pointer;

        &--svg {
            height: 1.45rem;
            width: 1.45rem;
            transition: all 0.5s;
            &:hover {
                transform: rotate(90deg);
            }
        }
    }
}

.user-login {
}

.user-signup {
    &__form {
        &--toggle {
            top: 45%;
        }
    }
}

.user-forget {
}

.user-reset {
    &__form {
        &--toggle {
            top: 45%;
        }
    }
}

.user-update {
    &__form {
        &--toggle {
            top: 45%;
        }
    }
}
