// -----------------------------------------
// Logo Box
.logo-box {
    @include flex(flex-start);
    &__name {
        margin: 0.5rem;
        margin-left: 2.5rem;
        font-size: $font-size-larger;
        font-weight: $font-weight-bold;
    }
}
