.navbar {
    @include flex();
    @include direction(column);

    &-user {
        flex: 1;

        @include flex();
        @include direction(column);

        &__icon {
            &--svg {
                margin-top: 1.5rem;
                width: 5rem;
                height: 4rem;
            }
        }

        &__content {
            flex: 1;
        }

        &__photo {
        }
    }

    &-ideal {
        flex: 1;
        justify-self: start;

        &__icon {
            &--svg {
                margin-top: 1.5rem;
                width: 5rem;
                height: 4rem;
            }
        }
    }
}
