// Search
.search {
    @include flex();
    width: 24rem;
    &__input {
        font-size: $font-size-regular-1;
        font-family: inherit;
        border: none;
        border-radius: 10rem;
        padding: 0.5rem 4rem 0.5rem 1.5rem;
        width: 100%;
        margin-left: 1rem;
        &:focus {
            outline: none;
        }
    }

    &__button {
        margin-left: -3rem;
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }
}
