<div class="chat-profile__friend">
    <form class="chat-profile__friend--form">
        <div class="chat-profile__friend-pic">
            <img src="{%IMAGE_URL%}" class="chat-profile__friend-pic--img" alt="" />
            <div class="chat-profile__friend-remove--stranger">
                <svg class="chat-profile__friend-remove--svg">
                    <use xlink:href="img/sprite.svg#icon-user-minus"></use>
                </svg>
            </div>

            <div class="chat-profile__friend-pic--name">{%NAME%}</div>
        </div>

        <div class="chat-profile__friend-about">
            <div class="chat-profile__friend-about--group">
                <div class="chat-profile__friend-about--edit">
                    <label for="name" class="chat-profile__friend-about--label"> Name </label>
                </div>
                <input type="text" id="name" class="chat-profile__friend-about--input" value="{%NAME%}" disabled />
            </div>

            <div class="chat-profile__friend-about--group">
                <div class="chat-profile__friend-about--edit">
                    <label for="email" class="chat-profile__friend-about--label"> Email </label>
                </div>
                <input type="text" id="email" class="chat-profile__friend-about--input" value="{%EMAIL%}" disabled />
            </div>

            <div class="chat-profile__friend-about--group">
                <div class="chat-profile__friend-about--edit">
                    <label for="bio" class="chat-profile__friend-about--label"> Bio </label>
                </div>

                <textarea id="bio" class="chat-profile__friend-about--input" rows="4" disabled>{%BIO%}</textarea>
            </div>
        </div>
    </form>
</div>
