// Dark Theme
@mixin darkThemeColor($color-primary, $color-primary-light, $color-primary-dark) {
    // Dark Theme
    &.app {
        background-image: linear-gradient(to right bottom, lighten($color-primary, 2.5%), darken($color-primary, 2.5%));
        position: relative;
    }
    // ---------------------------
    // Layout
    .header {
        @include darkTheme($color-grey-dark-3, 50%);
    }
    .main {
        @include darkTheme($color-grey-dark-2, 50%);
    }
    .footer {
        @include darkTheme($color-grey-dark-3, 50%);
    }

    // --------------------------
    // Dropdown
    .about-me,
    .chat-panel-user,
    .chat-box-friendmsg,
    .chat-box-usermsg {
        // Dropdown
        &__dropdown {
            background-color: $color-grey-dark-1;
            color: lighten($color-grey-dark-1, 50%);
            border-color: $color-primary;

            &--list {
            }
            &--item {
                &:hover {
                    background-color: $color-grey-dark-3;
                }
            }
            &--svg {
                fill: lighten($color-grey-dark-1, 50%);
            }

            &--span {
            }
        }
    }
    .chat-box-friendmsg {
        // Dropdown
        &__dropdown {
            &--svg {
                &-copy {
                }
                &-edit {
                }
                &-reply {
                }
                &-delete {
                    fill: $color-light-red;
                }
            }

            &--span {
                &-delete {
                    color: $color-light-red;
                }
            }
        }
    }
    .chat-box-usermsg {
        // Dropdown
        &__dropdown {
            &--svg {
                &-copy {
                }
                &-heart {
                    fill: $color-primary;
                }
                &-reply {
                }
                &-delete {
                    fill: $color-light-red;
                }
            }

            &--span {
                &-delete {
                    color: $color-light-red;
                }
            }
        }
    }

    .about-me {
        // Dropdown
        &__dropdown {
            &--svg {
                fill: lighten($color-grey-dark-1, 50%);
                // Types
                &-user {
                }
                &-theme {
                }
                &-setting {
                }
                &-logout {
                    fill: $color-light-red;
                }
            }
            &--span {
                &-logout {
                    color: $color-light-red;
                }
            }
        }
    }

    // Alert
    .alert {
        &--success {
            background-color: $color-primary;
        }
        &--error {
            background-color: $color-light-red;
        }
        &--info {
            background-color: $color-light-red;
        }
    }

    .chat-panel-user {
        // Dropdown
        &__dropdown {
            &--svg {
                fill: lighten($color-grey-dark-1, 50%);

                &-dot {
                }
                &-star {
                    fill: $color-primary;
                }
                &-pin {
                }
                &-mute {
                }
                &-delete {
                    fill: $color-light-red;
                }
            }
            &--span {
                &-delete {
                    color: $color-light-red;
                }
            }
        }
    }
    // ---------------------------------
    // Forms
    // Login Form And Signup Form
    .user-login,
    .user-signup {
        // background-color: $color-primary;
        background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        &__title {
        }
        &__form {
            &--group {
            }
            &--label {
            }
            &--input {
                border-bottom-color: transparent;
                background-color: $color-grey-dark-2;
                color: $color-white;
                &::placeholder {
                    color: lighten($color-grey-dark-2, 50%);
                }

                &:focus {
                    &:invalid {
                        border-bottom-color: darken($color-light-red, 10%);
                    }
                }
            }
            &--btn {
                background-color: $color-grey-dark-1;
                color: $color-primary;
                transition: all 0.2s;

                &:hover {
                    background-color: darken($color-grey-dark-2, 10%);
                }
            }
        }

        &__cross {
            &--svg {
                fill: $color-grey-dark-2;
            }
        }
    }

    // Login Form
    .user-signup {
    }
    // Sign up Form
    .user-login {
    }

    // ----------------------------------
    // Components
    // Logo Box
    .logo-box {
        &__svg {
            fill: $color-primary;
        }
        &__name {
            color: $color-white;
        }
    }
    // Search
    .search {
        &__input {
            background-color: darken($color-grey-light-4, 15%);
            color: $color-grey-light-1;

            &::placeholder {
                color: $color-grey-light-4;
            }

            &:focus {
                background-color: darken($color-grey-light-4, 30%);
            }
        }

        &__button {
            background-color: darken($color-grey-light-4, 15%);
        }

        &__input:focus + .search__button {
            background-color: darken($color-grey-light-4, 30%);
        }

        &__icon {
            fill: lighten($color-grey-light-4, 10%);
        }

        &__input:focus + .search__button .search__icon {
            fill: $color-primary;
        }
    }
    // Menu
    .menu {
        &__list {
        }

        &__item {
        }

        &__link {
            color: lighten($color-grey-dark-3, 50%);
            background-color: darken($color-grey-light-4, 30%);
            border-bottom-color: transparent;

            &:hover {
                background-color: $color-grey-dark-1;
                border-bottom-color: $color-grey-light-2;
            }

            &.menu__link--active {
                border-bottom-color: $color-primary;
                background-color: $color-grey-dark-1;
            }
        }
    }

    // CTA
    .cta {
        &__btn {
        }

        &__action {
            border-color: $color-primary;
            &:hover {
                border-color: lighten($color-primary, 10%);
            }
        }

        &__sign-up {
            background-color: $color-primary;
            color: $color-grey-dark-3;

            &:hover {
                background-color: lighten($color-primary, 10%);
            }
        }
        &__log-in {
            background-color: $color-grey-dark-3;
            color: $color-primary;
            &:hover {
                color: lighten($color-primary, 10%);
            }
        }
    }

    .about-me {
        &__link {
            color: inherit;
            background-color: darken($color-grey-light-4, 15%);

            &:hover {
                background-color: darken($color-grey-light-4, 30%);
            }
        }
    }

    // Chat Panel
    .chat-panel {
    }

    .chat-panel-user {
        &__title {
            color: lighten($color-grey-light-2, 20%);

            background-color: darken($color-grey-light-3, 42.5%);
            border-color: darken($color-grey-light-3, 40%);
        }
        &__count {
            color: lighten($color-grey-light-2, 10%);
        }
        &__reload {
            fill: $color-grey-light-1;
            &:hover {
                fill: $color-primary;
            }
        }

        &__list {
        }

        &__item {
            border-top: 0.1rem solid darken($color-grey-light-3, 35%);
            border-bottom-color: darken($color-grey-light-3, 35%);
            transition: all 0.2s;
            &:hover {
                background-color: darken($color-grey-light-3, 35%);

                .chat-panel-user__state {
                    &--active {
                        border-color: darken($color-grey-light-3, 35%);
                    }
                }
            }

            &.chat-panel-user__item--selected {
                background-color: darken($color-grey-light-3, 42.5%);
                .chat-panel-user__state {
                    &--active {
                        border-color: darken($color-grey-light-3, 42.5%);
                    }
                }
            }

            &.chat-panel-user__item--active {
            }
        }

        &__link {
            color: lighten($color-grey-dark-2, 50%);
        }

        &__userphoto {
        }
        &__info {
        }
        &__username {
        }
        // Settings
        &__settings {
            &--icons {
                fill: $color-grey-light-2;
            }
        }
        .icon-pin-chat {
        }
        .icon-mute-notification {
        }
        .icon-dot-single--notification {
            fill: $color-primary;
        }
        // Option
        &__option {
            fill: $color-grey-light-2;
            &:hover {
                fill: $color-grey-light-1;
                fill: $color-primary;
            }
        }
        // State
        &__state {
            fill: black;
            &--active {
                fill: $color-active;
                border-color: $color-grey-dark-2;
            }

            &--inactive {
                fill: transparent;
            }
        }
    }
    .chat-panel-ideal,
    .chat-panel-null {
        &__title {
            background-color: $color-grey-dark-3;
        }
        &__dimmer {
            &--circle {
                fill: $color-grey-dark-3;
            }
            &--rect {
                fill: $color-grey-dark-3;
            }
        }
    }

    // Chat Box
    .chat-box {
    }
    .chat-box-user {
        @include darkTheme($color-grey-dark-1, 50%);
        &__header {
            background-color: $color-grey-dark-1;
            &--back,
            &--options {
                &:hover {
                    background-color: $color-grey-dark-3;
                }

                &-svg {
                    fill: $color-primary;
                }
            }
            &--img {
            }
            &--content {
                &-name {
                    color: lighten($color-grey-dark-1, 60%);
                }
                &-status {
                    color: lighten($color-grey-dark-1, 40%);
                }
            }
        }
        &__field {
        }
        &__main {
            &--container {
            }
            &--message {
                &-in {
                    background-color: $color-grey-dark-1;
                    color: lighten($color-grey-dark-1, 50%);
                    border-color: $color-grey-dark-3;
                }
                &-out {
                    background-color: darken($color-primary, 5%);
                    color: $color-grey-dark-1;
                    border-color: $color-primary;
                }
            }
        }
        &__footer {
            &--form {
            }
            &--input {
                background-color: lighten($color-grey-dark-1, 2.5%);
                color: lighten($color-grey-dark-1, 65%);
                border-color: $color-primary;
                caret-color: $color-primary;
                &:focus {
                    background-color: $color-grey-dark-1;
                }
            }

            &--emoji,
            &--camera,
            &--attach,
            &--send {
                &:hover {
                    background-color: $color-primary;
                }
                &-svg {
                    fill: lighten($color-grey-dark-1, 50%);
                }
                &:hover > .chat-box__footer--emoji-svg,
                &:hover > .chat-box__footer--camera-svg,
                &:hover > .chat-box__footer--attach-svg {
                    fill: $color-grey-dark-1;
                }
            }
            &--emoji {
            }
            &--camera {
            }
            &--attach {
            }

            &--send {
                background-color: $color-primary;

                &:disabled {
                    background-color: $color-primary-dark;
                }
                &:hover {
                    background-color: $color-primary-light;
                }
                &-svg {
                    fill: $color-grey-dark-1;
                }
            }
        }
    }
    // Chat Profile
    .chat-profile {
        // User
        &__user,
        &__stranger,
        &__friend {
            &-pic,
            &-about {
                background-color: $color-grey-dark-1;
            }
            // Pic
            &-pic {
                &--img {
                }
                &--label {
                    background-color: $color-primary;
                }
                &--svg {
                    fill: $color-grey-dark-1;
                }

                &--name {
                }
            }
            // About
            &-about {
                &--form {
                }
                &--label {
                }
                &--edit {
                }
                &--input {
                    background-color: $color-grey-dark-2;
                    color: lighten($color-grey-dark-2, 70%);

                    &:disabled {
                        color: lighten($color-grey-dark-2, 60%);
                        background-color: $color-grey-dark-1;
                    }
                }
                &--svg {
                    fill: $color-primary;
                }
            }
        }
        // User
        &__user {
            &-pic {
                &--upload {
                }
                &--input {
                }
            }

            &--update {
                background-color: $color-primary;
                color: $color-grey-dark-2;

                &:hover {
                    background-color: $color-primary-light;
                }
            }
        }
        // Stranger
        &__stranger {
            &-add {
                &--friend {
                    background-color: $color-primary;
                }
                &--svg {
                    fill: $color-grey-dark-1;
                }
            }
        }

        // Friend
        &__friend {
            &-remove {
                &--stranger {
                    background-color: $color-primary;
                }
                &--svg {
                    fill: $color-grey-dark-1;
                }
            }
        }
    }

    .copyright {
    }
    .created-by {
        p {
        }
        &--svg {
            fill: $color-heart;
        }
    }
    .developers {
        color: $color-primary-light;
    }

    // ScrollBar
    ::-webkit-scrollbar {
    }

    ::-webkit-scrollbar-track {
        background-color: $color-grey-dark-2;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $color-primary;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: $color-primary-light;
    }
}

.dark {
    @include darkThemeColor($color-primary, $color-primary-light, $color-primary-dark);
}

// Change primary color in dark theme
.dark-green {
    @include darkThemeColor($color-primary-green, $color-primary-green-light, $color-primary-green-dark);
}
.dark-blue {
    @include darkThemeColor($color-primary-blue, $color-primary-blue-light, $color-primary-blue-dark);
}
.dark-purple {
    @include darkThemeColor($color-primary-purple, $color-primary-purple-light, $color-primary-purple-dark);
}
.dark-red {
    @include darkThemeColor($color-primary-red, $color-primary-red-light, $color-primary-red-dark);
}
.dark-yellow {
    @include darkThemeColor($color-primary-yellow, $color-primary-yellow-light, $color-primary-yellow-dark);
}
.dark-grey {
    @include darkThemeColor($color-grey-light-1, $color-grey-light-2, $color-grey-light-3);
}
.dark-white {
    @include darkThemeColor($color-white, $color-white, $color-white);
}
