// Dark Theme
@mixin theme($color-grey-1, $color-grey-2, $color-grey-3, $theme) {
    // Base
    body {
        background-color: $color-grey-1;
    }

    // Dark Theme
    .app {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        position: relative;
    }
    // ---------------------------
    // Layout
    .header {
        background-color: $color-grey-3;
        @include adjust($color-grey-3, 50%, $theme, color);
    }
    .main {
        background-color: $color-grey-2;
        @include adjust($color-grey-2, 50%, $theme, color);
    }
    .footer {
        background-color: $color-grey-3;
        @include adjust($color-grey-3, 50%, $theme, color);
    }

    // --------------------------
    // Dropdown
    .about-me,
    .chat-panel-user,
    .chat-box-user-in,
    .chat-box-user-out {
        // Dropdown
        &__dropdown {
            background-color: $color-grey-1;
            @include adjust($color-grey-1, 50%, $theme, color);
            border-color: $color-primary;

            &--list {
            }
            &--item {
                &:hover {
                    background-color: $color-grey-3;
                }
            }
            &--svg {
                @include adjust($color-grey-3, 50%, $theme, fill);
            }

            &--span {
            }
        }
    }
    .chat-box-user-in {
        // Dropdown
        &__dropdown {
            &--svg {
                &-copy {
                }
                &-edit {
                }
                &-reply {
                }
                &-delete {
                    fill: $color-danger;
                }
            }

            &--span {
                &-delete {
                    color: $color-danger;
                }
            }
        }
    }
    .chat-box-user-out {
        // Dropdown
        &__dropdown {
            &--svg {
                &-copy {
                }
                &-heart {
                    fill: $color-primary;
                }
                &-reply {
                }
                &-delete {
                    fill: $color-danger;
                }
            }

            &--span {
                &-delete {
                    color: $color-danger;
                }
            }
        }
    }

    .about-me {
        // Dropdown
        &__dropdown {
            &--svg {
                @include adjust($color-grey-3, 50%, $theme, fill);
                // Types
                &-profile {
                }
                &-theme {
                }
                &-setting {
                }
                &-logout {
                    fill: $color-danger;
                }
            }
            &--span {
                &-logout {
                    color: $color-danger;
                }
            }
        }
    }

    // Alert
    .alert {
        color: $color-white;
        &__message {
            color: $color-white;
        }
        &__svg {
            fill: $color-white;
        }
        &--success {
            background-color: $color-primary;
        }
        &--info {
            background-color: $color-primary;
        }
        &--failure {
            background-color: $color-danger;
        }
    }

    .chat-panel-user {
        // Dropdown
        &__dropdown {
            &--svg {
                @include adjust($color-grey-3, 50%, $theme, fill);

                &-read,
                &-unread {
                }
                &-add,
                &-remove {
                    fill: $color-primary;
                }
                &-pin,
                &-unpin {
                }
                &-mute,
                &-unmute {
                }
                &-delete {
                    fill: $color-danger;
                }
            }
            &--span {
                &-delete {
                    color: $color-danger;
                }
            }
        }
    }
    // ---------------------------------
    // Forms
    // Login Form And Signup Form
    .user-login,
    .user-signup,
    .user-forget,
    .user-reset {
        // background-color: $color-primary;
        background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        &__title {
        }
        &__form {
            &--group {
            }
            &--label {
            }
            &--input {
                border-bottom-color: transparent;
                background-color: $color-grey-3;
                @include adjust($color-grey-2, 80%, $theme, color);
                &::placeholder {
                    @include adjust($color-grey-2, 50%, $theme, color);
                }
                &:focus {
                    border-bottom-color: transparent;
                    &:invalid {
                        border-bottom-color: $color-white;
                    }
                }
            }
            &--toggle {
                &-svg {
                    @include adjust($color-grey-2, 50%, $theme, fill);

                    &:hover {
                        @include adjust($color-grey-2, 80%, $theme, fill);
                    }
                }
            }
            &--btn {
                background-color: $color-grey-3;
                color: $color-primary;
                transition: all 0.2s;

                &:hover {
                    background-color: $color-grey-2;
                }
            }
        }

        &__cross {
            &--svg {
                fill: $color-grey-2;
            }
        }
    }

    // ----------------------------------
    // Components
    // Logo Box
    .logo-box {
        &__svg {
            fill: $color-primary;
        }
        &__name {
            color: $color-primary;
        }
    }
    // Search
    .search {
        &__input {
            @include adjust($color-grey-3, 10%, $theme, background-color);
            @include adjust($color-grey-3, 50%, $theme, color);

            &::placeholder {
                @include adjust($color-grey-3, 30%, $theme, color);
            }

            &:focus {
                background-color: $color-grey-2;
            }
        }

        &__button {
            @include adjust($color-grey-3, 10%, $theme, background-color);
        }

        &__input:focus + .search__button {
            background-color: $color-grey-2;
        }

        &__icon {
            @include adjust($color-grey-3, 40%, $theme, fill);
        }

        &__input:focus + .search__button .search__icon {
            fill: $color-primary;
        }
    }
    // Menu
    .menu {
        &__list {
        }

        &__item {
        }

        &__link {
            @include adjust($color-grey-3, 50%, $theme, color);
            background-color: $color-grey-2;
            border-bottom-color: transparent;

            &:hover {
                background-color: $color-grey-1;
            }

            &--active {
                border-bottom-color: $color-primary;
                background-color: $color-grey-1;
            }
        }
    }

    // CTA
    .cta {
        &__btn {
        }

        &__action {
            border-color: $color-primary;
            &:hover {
                border-color: $color-primary-light;
            }
        }

        &__sign-up {
            background-color: $color-primary;
            color: $color-grey-3;

            &:hover {
                background-color: $color-primary-light;
            }
        }
        &__log-in {
            background-color: $color-grey-3;
            color: $color-primary;
            &:hover {
                color: $color-primary-light;
            }
        }
    }

    .about-me {
        &__link {
            color: $color-primary;
            @include adjust($color-grey-3, 10%, $theme, background-color);
            &:hover {
                background-color: $color-grey-2;
            }
        }
    }

    // Chat Panel
    .chat-panel {
    }

    .chat-panel-user {
        &__title {
            @include adjust($color-grey-2, 65%, $theme, color);
            background-color: $color-grey-1;
        }
        &__count {
            @include adjust($color-grey-2, 50%, $theme, color);
        }
        &__reload {
            @include adjust($color-grey-2, 55%, $theme, fill);
            &:hover {
                fill: $color-primary;
            }
        }

        &__list {
        }

        &__item {
            transition: all 0.2s;
            &:hover {
                @include adjust($color-grey-1, 10%, $theme, background-color);

                .chat-panel-user__state {
                    &--active {
                        @include adjust($color-grey-1, 10%, $theme, border-color);
                    }
                }
            }

            &--selected {
                background-color: $color-grey-1;
                border-color: $color-primary;
                &:hover {
                    background-color: $color-grey-1;
                    .chat-panel-user__state {
                        &--active {
                            border-color: $color-grey-1;
                        }
                    }
                }
                .chat-panel-user__state {
                    &--active {
                        border-color: $color-grey-1;
                    }
                }
            }
        }

        &__link {
            @include adjust($color-grey-2, 65%, $theme, color);
        }

        &__userphoto {
        }
        &__info {
        }
        &__username {
        }
        // Settings
        &__settings {
            &--icons {
                @include adjust($color-grey-2, 40%, $theme, fill);
            }
        }
        .icon-pin-chat {
        }
        .icon-mute-notification {
        }
        .icon-dot-single--notification {
            fill: $color-primary;
        }
        // Option
        &__option {
            @include adjust($color-grey-2, 60%, $theme, fill);
            &:hover {
                fill: $color-primary;
            }
        }
        // State
        &__state {
            &--active {
                fill: $color-active;
                border-color: $color-grey-2;
            }

            &--inactive {
                fill: transparent;
            }
        }
    }
    .chat-panel-ideal,
    .chat-panel-null {
        &__title {
            background-color: $color-grey-3;
        }
        &__dimmer {
            &--circle {
                fill: $color-grey-3;
            }
            &--rect {
                fill: $color-grey-3;
            }
        }
    }

    // Chat Box
    .chat-box {
        border-color: $color-grey-3;
    }
    .chat-box-user {
        background-color: $color-grey-1;
        @include adjust($color-grey-1, 50%, $theme, color);
        &__header {
            background-color: $color-grey-1;
            border-bottom-color: $color-grey-3;
            &--back,
            &--options {
                &:hover {
                    background-color: $color-grey-3;
                }

                &-svg {
                    fill: $color-primary;
                }
            }
            &--img {
            }
            &--content {
                &-name {
                    color: $color-primary;
                }
                &-status {
                    @include adjust($color-grey-1, 40%, $theme, color);
                }
            }
        }
        &__field {
        }
        &__main {
            &--container {
            }
            &--message {
                &-in {
                    background-color: $color-grey-1;
                    @include adjust($color-grey-1, 55%, $theme, color);
                    border-color: $color-grey-3;
                    &-span {
                        @include adjust($color-grey-1, 55%, $theme, color);
                    }
                }
                &-out {
                    background-color: $color-primary;
                    color: $color-grey-1;
                    border-color: $color-primary;
                    &-span {
                        color: $color-grey-1;
                    }
                    &-info {
                        &--svg {
                            @include adjust($color-grey-1, 15%, $theme, fill);
                        }
                    }
                }
            }
            &--date,
            &--date-fix {
                &-span {
                    background-color: $color-grey-1;
                    border-color: $color-primary;
                }
            }
            &--date {
                &-span {
                }
            }
            &--date-fix {
                &-span {
                }
            }
        }
        &__footer {
            &--form {
            }
            &--input {
                @include adjust($color-grey-1, 2.5%, $theme, background-color);
                @include adjust($color-grey-1, 65%, $theme, color);
                border-color: $color-primary;
                caret-color: $color-primary;
                &:focus {
                    background-color: $color-grey-1;
                    box-shadow: 0 0 0.5rem $color-white;
                }
                // Instead of ::placeholder
                &:empty::before {
                    @include adjust($color-grey-1, 40%, $theme, color);
                }
            }

            &--emoji,
            &--location,
            &--attach,
            &--camera,
            &--send {
                &:hover {
                    background-color: $color-primary;
                }
                &-svg {
                    @include adjust($color-grey-3, 50%, $theme, fill);
                }
                // xxx
                &:hover > .chat-box-user__footer--emoji-svg,
                &:hover > .chat-box-user__footer--location-svg,
                &:hover > .chat-box-user__footer--attach-svg,
                &:hover > .chat-box-user__footer--camera-svg {
                    fill: $color-grey-1;
                }
            }

            &--emoji {
            }
            &--location {
            }
            &--attach {
            }
            &--camera {
            }

            &--send {
                background-color: $color-primary;

                &:disabled {
                    background-color: $color-primary-dark;
                }
                &:hover {
                    background-color: $color-primary-light;
                    box-shadow: 0 0 0.5rem $color-white;
                }
                &-svg {
                    fill: $color-grey-1;
                }
            }
        }
        // Drop
        &__drop {
            &-in {
                background-color: $color-grey-1;
                box-shadow: 0.2rem 0.2rem 1rem 0.1rem $color-grey-1;
                &--svg {
                    fill: $color-primary;
                }
            }
            &-out {
                background-color: $color-primary;
                box-shadow: -0.2rem 0.2rem 0.5rem 0.1rem $color-primary;
                &--svg {
                    fill: $color-grey-1;
                }
            }
        }
    }
    .chat-box-drag {
        &--svg {
            @include adjust($color-grey-3, 50%, $theme, fill);
        }
    }
    // Chat Profile
    .chat-profile {
        // User
        &__user,
        &__stranger,
        &__friend {
            &-pic,
            &-avatar,
            &-about {
                background-color: $color-grey-1;
            }
            // Pic
            &-pic {
                &--img {
                }
                &--label {
                    background-color: $color-primary;
                }
                &--svg {
                    fill: $color-grey-1;
                }

                &--name {
                }
            }
            // About
            &-about {
                &--form {
                }
                &--label {
                }
                &--edit {
                }
                &--input {
                    background-color: $color-grey-2;
                    @include adjust($color-grey-2, 70%, $theme, color);

                    &:disabled {
                        @include adjust($color-grey-2, 60%, $theme, color);
                        background-color: $color-grey-1;
                    }
                }
                &--svg {
                    fill: $color-primary;
                }
            }
        }
        // User
        &__user {
            &-pic {
                &--upload {
                }
                &--name {
                    color: $color-primary;
                }
                &--input {
                }
            }

            &--update {
                background-color: $color-primary;
                color: $color-grey-2;

                &:hover {
                    background-color: $color-primary-light;
                }
            }

            &-avatar {
                &--icon {
                    background-color: $color-primary;
                }
                &--svg {
                    fill: $color-grey-2;
                }
            }
        }
        // Stranger
        &__stranger {
            &-add {
                &--friend {
                    background-color: $color-primary;
                }
                &--svg {
                    fill: $color-grey-1;
                }
            }
        }

        // Friend
        &__friend {
            &-remove {
                &--stranger {
                    background-color: $color-primary;
                }
                &--svg {
                    fill: $color-grey-1;
                }
            }
        }
        // Setting
        &__setting {
            &--list {
            }
            &--item {
            }
            &--title {
                @include adjust($color-grey-1, 60%, $theme, color);
            }
            &--span {
            }
            &--svg {
                @include adjust($color-grey-1, 60%, $theme, fill);

                &-active {
                }
            }

            &--content {
                @include adjust($color-grey-1, 50%, $theme, color);
                background-color: $color-grey-1;
            }
        }
    }

    .copyright {
    }
    .created-by {
        p {
        }
        &--svg {
            fill: $color-heart;
        }
    }
    .developers {
        color: $color-primary-light;
    }

    // ScrollBar
    ::-webkit-scrollbar {
    }

    ::-webkit-scrollbar-track {
        background-color: $color-grey-2;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $color-primary;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: $color-primary-light;
    }
}

// Themes
.dark {
    @include theme($color-grey-dark-1, $color-grey-dark-2, $color-grey-dark-3, dark);
}
.light {
    @include theme($color-grey-light-1, $color-grey-light-2, $color-grey-light-3, light);
}
