@keyframes rotateFull {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes TopToDown {
    0% {
        top: -50%;
        opacity: 0.5;
    }
    90% {
        top: 55%;
        opacity: 1;
    }
    100% {
        top: 50%;
    }
}
@keyframes DownToTop {
    0% {
        top: 50%;
        opacity: 1;
    }
    10% {
        top: 55%;
        opacity: 1;
    }
    100% {
        top: -50%;
        opacity: 0;
    }
}

@keyframes blur {
    0%{
        backdrop-filter: blur(0);
    }

    100%{
        backdrop-filter: blur(0.2rem);
    }
}