*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
}

a {
    text-decoration: none;
}

button,
input,
textarea {
    border: 0;
    &:focus {
        outline: none;
    }
}

ul,
ol {
    list-style: none;
}
