*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}
.app {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, lighten($color-primary, 2.5%), darken($color-primary, 2.5%));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    overflow: hidden;
    @include flex();
}
