// -------------------------------
// Drop Down
.about-me,
.chat-panel-user,
.chat-box-friendmsg,
.chat-box-usermsg {
    // Drop Down
    &__dropdown {
        position: absolute;
        z-index: 1;
        border-radius: 1rem;
        border-width: 0.1rem;
        border-style: solid;
        overflow: hidden;
        // For Development
        visibility: hidden;
        opacity: 0;
        display: none;

        &--list {
            @include flex();
            @include direction(column);
            align-items: stretch;
            padding: 1rem 0;
            list-style: none;
        }
        &--item {
            @include flex(flex-start);
            padding: 0.5rem 0;
            padding-right: 2.5rem;
            margin: 0.1rem 0;
            transition: all 0.2s;
            &:hover {
                cursor: pointer;
            }
        }
        &--svg {
            height: 1.4rem;
            width: 1.4rem;
            margin: 0.5rem;
            margin-right: 1.5rem;
            margin-left: 1.5rem;
        }
        &--span {
        }
    }
}
.chat-box-friendmsg {
    &__dropdown {
        top: 50%;
        left: 50%;
        border-radius: 0.5rem;
    }
}
.chat-box-usermsg {
    &__dropdown {
        top: 20%;
        left: 40%;
        border-radius: 0.5rem;
    }
}

.about-me {
    &__dropdown {
        top: 8.5%;
        right: 10%;
        border-top-right-radius: 0;

        &--svg {
            &-setting,
            &-logout {
                height: 1.2rem;
                width: 1.2rem;
                margin-left: 1.6rem;
            }
        }
    }
}
.chat-panel-user {
    // Drop Down
    &__dropdown {
        top: 46%;
        left: 20.5%;
        border-top-left-radius: 0;
        // clip-path: polygon(11.25% 5%, 16% 0, 100% 0, 100% 100%, 0 100%, 0 0, 6.5% 0);

        &--svg {
            &-pin {
                height: 1.2rem;
                width: 1.2rem;
            }
        }
    }
}

//----------------------------------
// Alert Messages
.alert {
    position: fixed;
    top: 0%;
    left: 52.5%;
    transform: translateX(-50%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 8rem;
    color: $color-grey-dark-2;
    @include flex();
    z-index: 2;

    &__svg {
        height: 1.4rem;
        width: 1.4rem;
        margin-right: 1.2rem;
        &--info {
            height: 1.6rem;
            width: 1.6rem;
        }
    }
    &__message {
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
    }
}

// -----------------------------------------
// Forms
.forms {
    height: 0;
    width: 0;
}
.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: blur 1s ease;
    backdrop-filter: blur(0.2rem);
}

.user-login,
.user-signup {
    position: absolute;
    top: 50%;
    opacity: 1;
    left: 52.5%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    @include flex();
    @include direction(column);
    letter-spacing: 0.05rem;
    animation: TopToDown 1s ease;
    z-index: 1;

    &__title {
        text-align: center;
        font-size: $font-size-largest;
        font-weight: $font-weight-bolder;
    }
    &__form {
        @include flex();
        flex: 1;
        @include direction(column);
        &--group {
            @include flex();
            @include direction(column);
        }

        &--label {
            font-size: $font-size-regular-2;
            font-weight: $font-weight-bold;
            margin-bottom: 0.5rem;
            margin-right: auto;
        }
        &--input {
            width: 35rem;
            font-size: $font-size-regular-1;
            font-family: inherit;
            color: inherit;
            padding: 1rem 2rem;
            border-radius: 0.3rem;
            border: none;
            border-bottom: 0.3rem solid;
            transition: all 0.4s;
            letter-spacing: 0.04rem;

            &:focus {
                outline: none;
                border-bottom: 0.3rem solid;

                &:invalid {
                    border-bottom: 0.3rem solid;
                }
            }
        }

        &--btn {
            font-weight: $font-weight-bold;
            font-size: $font-size-regular-2;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            border: none;
            padding: 1rem 5rem;
            margin-top: 3rem;
            border-radius: 10rem;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
    }

    &__cross {
        position: absolute;
        top: 2%;
        right: 2%;
        margin: 0.5rem;
        cursor: pointer;

        &--svg {
            height: 1.45rem;
            width: 1.45rem;
            transition: all 0.5s;
            &:hover {
                transform: rotate(90deg);
            }
        }
    }
}
.user-login {
    &__title {
        margin: 6rem 0 2rem 0;
    }
    &__form {
        margin: 0 10rem 5rem 10rem;
        &--group {
            margin: 2rem;
        }
        &--forget {
            font-size: $font-size-jayesh;
            margin: 0.5rem;
            margin-left: auto;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.user-signup {
    &__title {
        margin: 4rem 0 2rem 0;
    }
    &__form {
        margin: 0 10rem 4rem 10rem;
        &--group {
            margin: 1rem 2rem;
        }
    }
}
// -----------------------------------------
// Logo Box
.logo-box {
    @include flex(flex-start);

    &__svg {
        margin: 1rem;
        width: 5rem;
        height: 4rem;
    }

    &__name {
        margin: 0.5rem;
        font-size: $font-size-larger;
        font-weight: $font-weight-bold;
    }
}
// Search
.search {
    @include flex();
    width: 24rem;
    &__input {
        font-size: $font-size-regular-1;
        font-family: inherit;
        border: none;
        border-radius: 10rem;
        padding: 0.5rem 4rem 0.5rem 1.5rem;
        width: 100%;
        margin-left: 1rem;
        &:focus {
            outline: none;
        }
    }

    &__button {
        margin-left: -3rem;
        border: none;

        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }
}

// Menu
.menu {
    @include flex();
    align-items: flex-end;

    &__list {
        @include flex(space-around);
        list-style: none;
    }

    &__item {
        margin-left: 0.1rem;
        margin-right: 0.1rem;

        @include flex();
    }

    &__link {
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $font-size-jayesh;
        font-weight: $font-weight-bolder;
        padding: 0.5rem 3rem;
        border-radius: 0.5rem 0.5rem 0 0;
        border-bottom-width: 0.2rem;
        border-bottom-style: solid;
        transition: border-bottom-color 0.4s, background-color 0.4s;
        letter-spacing: 0.05rem;
    }
}
// CTA(Log in and Sign up)
.cta {
    justify-self: end;

    &__btn {
        @include flex(flex-end);
        height: 100%;
    }

    &__action {
        font-size: $font-size-regular-2;
        border: none;

        margin-left: 2rem;
        margin-right: 2rem;

        padding: 0.85rem 3rem;
        border-radius: 10rem;
        cursor: pointer;
        border-width: 0.2rem;
        border-style: solid;
        transition: all 0.2s;

        &:focus {
            outline: none;
        }
    }

    &__sign-up {
        font-weight: $font-weight-bold;
    }
    &__log-in {
        font-weight: $font-weight-regular;
    }
}

// About Me
.about-me {
    @include flex(flex-end);

    &__link {
        @include flex();
        text-decoration: none;
        padding: 0.25rem 0.5rem;
        margin: 0.5rem;
        border-radius: 1rem;
        transition: all 0.2s;
    }

    &__photo {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
    }
    &__name {
        margin: 0.75rem 1rem;
    }
}

// Chat Panel User
.chat-panel {
}

.chat-panel-user {
    @include flex(flex-start);
    @include direction(column);

    align-items: stretch;
    &__title {
        display: block;
        padding: 0.5rem 1.5rem;
        margin: 0.75rem;
        border-radius: 1rem;
        font-size: $font-size-regular-2;
        font-weight: $font-weight-bold;
        letter-spacing: 0.05rem;
        border-width: 0.1rem;
        border-style: solid;
        transition: all 0.2s;
        cursor: pointer;
        position: relative;
    }
    &__span {
        margin: 0 0.5rem;
        font-size: $font-size-jayesh;
    }
    &__reload {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 2rem;
        transition: all 1s;

        &:hover {
            transform: translateY(-50%) rotate(360deg);
        }
    }

    &__list {
        // Height of List
        max-height: 60rem;
        list-style: none;
        padding: 1rem 1.5rem;
        overflow-y: scroll;
        overflow-x: hidden;
        font-size: $font-size-regular-1;
    }
    &__item {
        margin: 0.25rem 0;
        border-bottom-width: 0.1rem;
        border-bottom-style: solid;
        border-radius: 0.2rem;
        position: relative;
    }
    &__link {
        text-decoration: none;
        padding: 0.75rem 0;
        @include flex();

        &:hover {
            cursor: pointer;
        }
    }
    &__userphoto {
        margin: 0.5rem 1rem;
        margin-right: 1.5rem;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
    }
    &__info {
        flex: 1;
        @include flex(space-between);
    }
    &__username {
        flex: 1;
    }
    // Settings
    &__settings {
        @include flex();
        &--icons {
            height: 2rem;
            width: 2rem;
            margin: 0 0.25rem;
            &:last-child {
                margin-right: 2.5rem;
            }
        }
    }
    .icon-pin-chat {
    }
    .icon-mute-notification {
    }
    .icon-dot-single {
    }

    // Option
    &__option {
        position: absolute;
        top: 0;
        right: 0;
        height: 2rem;
        width: 2rem;
        margin: 0.5rem;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s all;
        &:hover {
            transform: scale(1.25);
        }
    }

    // State
    &__state {
        position: absolute;
        top: 52.5%;
        left: 12.5%;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        &--active {
            border-width: 0.35rem;
            border-style: solid;
        }

        &--inactive {
        }
    }
    //

    &__link:hover &__option {
        opacity: 1;
        visibility: visible;
    }
}
.chat-panel-ideal,
.chat-panel-user__null {
    @include flex(flex-start);
    @include direction(column);
    align-items: stretch;

    &__title {
        padding: 2rem 1.5rem;
        margin: 1rem;
        border-radius: 1rem;
    }
    &__dimmer {
        height: 55rem;

        &--item {
            padding: 1rem 1.5rem;
            @include grid();
            grid-template-columns: 1fr 3fr;
            opacity: 1;

            $elements: 10;
            @for $i from 1 to $elements {
                &:nth-child(#{$elements - $i}) {
                    opacity: $i/10;
                }
            }
        }

        &--circle {
            @include flex();
            svg {
                height: 5rem;
                width: 5rem;

                // Also change viewBox
                circle {
                    cy: 2.5rem;
                    cx: 2.5rem;
                    r: 2.5rem;
                }
            }
        }
        &--rect {
            @include flex(flex-start);
            svg {
                margin-left: 1rem;
                height: 4rem;
                width: 18rem;
                // Also change viewBox
                rect {
                    height: 2rem;
                    width: 18rem;
                    y: 1rem;
                    rx: 1rem;
                    ry: 1rem;
                }
            }
        }
    }
}

// Chat Box
.chat-box {
}

.chat-box-ideal,
.chat-box-user__null {
    &--container {
    }
    &--svg {
        @include flex();
        svg {
            width: 60rem;
            height: 30rem;
        }
        margin-top: 15rem;
    }
    &--title {
        text-align: center;
        margin-top: -2rem;
    }
}
.chat-box-ideal--title {
    margin-top: 2rem;
}

.chat-box-user {
}
// Chat Profile
.chat-profile {
}

.copyright {
    @include flex(flex-start);
    margin-left: 2rem;
    font-size: $font-size-jayesh;
}
.created-by {
    @include flex(flex-end);
    margin-right: 1rem;
    font-size: $font-size-jayesh;
    word-spacing: 0.2rem;
    p {
    }
    &--svg {
        margin: 0.5rem;
        height: 2rem;
        width: 2rem;
    }
}
.developers {
    letter-spacing: 0.1rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
}
