.container {
    margin: 2rem;
    min-height: 50rem;
    // For Development min to max
    min-width: 120rem;
    color: $color-grey-light-4;
    border-radius: 0.6rem;
    box-shadow: $shadow-dark;
    @include grid();
    grid-template-rows: 6rem minmax(42.5rem, auto) 2.5rem;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

// Header
.header {
    grid-area: header;
    @include grid();
    @include customColumns(1.25fr 2.5fr 1fr);
}

// Main
.main {
    grid-area: main;
    @include grid();
    @include customColumns(1.25fr 2.5fr 1fr);
}

// Footer
.footer {
    grid-area: footer;
    @include grid();
    @include customColumns(1fr 1fr);
}
// For Development
.header > * {
    @include flex();
}
.main > * {
    @include flex();
}
.footer > * {
    @include flex();
}
