.app {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    @include flex();
}

.container {
    width: 100vw;
    overflow: hidden;
    @include grid();
    // ! Developer Jayesh 66rem
    grid-template-rows: 6rem minmax(62.5rem, auto) 3.5rem;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

// Header
.header {
    grid-area: header;
    @include grid();

    &.user {
        @include customColumns(1.5fr 3fr 1.35fr);
    }

    &.ideal {
        @include customColumns(1fr 3fr);
    }
}

// Main
.main {
    grid-area: main;
    @include grid();
    @include customColumns(1.5fr 3fr 1.35fr);
}

// Footer
.footer {
    grid-area: footer;
    @include grid();
    @include customColumns(1fr 1fr);
}
