// Flex
@mixin flex($justify: center) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@mixin direction($direction: row) {
    flex-direction: $direction;
}

// Grid
@mixin grid() {
    display: grid;
}

@mixin columns($columns) {
    grid-template-columns: repeat($columns, 1fr);
}

@mixin templateColumns($args...) {
    grid-template-columns: $args;
}

@mixin templateRows($args...) {
    grid-template-rows: $args;
}

@mixin gridRow($start, $end) {
    grid-row: #{$start}/#{$end};
}

@mixin gridColumn($start, $end) {
    grid-column: #{$start}/#{$end};
}

@mixin adjust($color, $percent: 50%, $theme: dark, $set: color) {
    @if $theme == dark {
        #{$set}: lighten($color, $percent);
    }
    @if $theme == light {
        #{$set}: darken($color, $percent);
    }
}
