// Use these classes on app

// Dark Theme
.dark {
    &.app {
        background-image: linear-gradient(to right bottom, lighten($color-primary, 2.5%), darken($color-primary, 2.5%));
    }

    // Layout
    .header {
        @include darkTheme($color-grey-dark-3, 50%);
    }
    .main {
        @include darkTheme($color-grey-dark-2, 50%);
    }
    .footer {
        @include darkTheme($color-grey-dark-3, 50%);
    }

    // ----------------------------------
    // Components
    // Logo Box
    .logo-box {
        &__svg {
            fill: $color-primary;
        }
        &__name {
            color: $color-white;
        }
    }
    // Search
    .search {
        &__input {
            background-color: darken($color-grey-light-4, 15%);
            color: $color-grey-light-1;

            &::placeholder {
                color: $color-grey-light-4;
            }

            &:focus {
                background-color: darken($color-grey-light-4, 30%);
            }
        }

        &__button {
            background-color: darken($color-grey-light-4, 15%);
        }

        &__input:focus + .search__button {
            background-color: darken($color-grey-light-4, 30%);
        }

        &__icon {
            fill: lighten($color-grey-light-4, 10%);
        }

        &__input:focus + .search__button .search__icon {
            fill: $color-primary;
        }
    }
    // Menu
    .menu {
        &__list {
        }

        &__item {
        }

        &__link {
            color: lighten($color-grey-dark-3, 50%);
            background-color: darken($color-grey-light-4, 30%);
            border-bottom-color: transparent;

            &:hover {
                background-color: $color-grey-dark-1;
                border-bottom-color: $color-grey-light-2;
            }
            &.menu__link--active {
                border-bottom-color: $color-primary;
                background-color: $color-grey-dark-1;
            }
        }
    }

    // CTA
    .cta {
        &__btn {
        }

        &__action {
            border-color: $color-primary;
            &:hover {
                border-color: lighten($color-primary, 10%);
            }
        }

        &__sign-up {
            background-color: $color-primary;
            color: $color-grey-dark-3;

            &:hover {
                background-color: lighten($color-primary, 10%);
            }
        }
        &__log-in {
            background-color: $color-grey-dark-3;
            color: $color-primary;
            &:hover {
                color: lighten($color-primary, 10%);
            }
        }
    }
    .about-me {
        &__link {
            color: inherit;
            background-color: darken($color-grey-light-4, 15%);

            &:hover {
                background-color: darken($color-grey-light-4, 30%);
            }
        }
    }

    // Chat Panel
    .chat-panel {
    }

    .chat-panel-user {
        &__title {
            color: lighten($color-grey-light-2, 20%);

            background-color: darken($color-grey-light-3, 42.5%);
            border-color: darken($color-grey-light-3, 40%);
        }
        &__count {
            color: lighten($color-grey-light-2, 10%);
        }
        &__reload {
            fill: $color-grey-light-1;
            &:hover {
                fill: $color-primary;
            }
        }

        &__list {
        }

        &__item {
            border-top: 0.1rem solid darken($color-grey-light-3, 35%);
            border-bottom-color: darken($color-grey-light-3, 35%);
            transition: all 0.2s;
            &:hover {
                background-color: darken($color-grey-light-3, 35%);
            }

            &.chat-panel-user__item--selected {
                background-color: darken($color-grey-light-3, 42.5%);
            }
            &.chat-panel-user__item--active {
            }
        }

        &__link {
            color: lighten($color-grey-dark-2, 50%);
        }

        &__userphoto {
        }
        &__username {
        }
        // Option
        &__option {
            fill: $color-grey-light-1;
        }
        // State

        &__state {
            fill: black;
        }

        &__state--active {
            fill: #0f0;
        }

        &__state--inactive {
            fill: transparent;
        }
    }
    .chat-panel-ideal,
    .chat-panel-user__null {
        &__title {
            background-color: $color-grey-dark-3;
        }
        &__dimmer {
            &--circle {
                fill: $color-grey-dark-3;
            }
            &--rect {
                fill: $color-grey-dark-3;
            }
        }
    }

    .chat-box {
        @include darkTheme($color-grey-dark-1, 50%);
    }
    .chat-profile {
    }

    .copyright {
    }
    .created-by {
    }
}

// Light Theme
.light {
}
