// Use these classes on app

// Dark Theme
.dark {
    &.app {
        background-image: linear-gradient(to right bottom, lighten($color-primary, 2.5%), darken($color-primary, 2.5%));
        position: relative;
    }
    // ---------------------------
    // Layout
    .header {
        @include darkTheme($color-grey-dark-3, 50%);
    }
    .main {
        @include darkTheme($color-grey-dark-2, 50%);
    }
    .footer {
        @include darkTheme($color-grey-dark-3, 50%);
    }

    // --------------------------
    // Dropdown
    .about-me,
    .chat-panel-user,
    .chat-box-friendmsg,
    .chat-box-usermsg {
        // Dropdown
        &__dropdown {
            background-color: $color-grey-dark-1;
            color: lighten($color-grey-dark-1, 50%);
            border-color: $color-primary;

            &--list {
            }
            &--item {
                &:hover {
                    background-color: $color-grey-dark-3;
                }
            }
            &--svg {
                fill: lighten($color-grey-dark-1, 50%);
            }

            &--span {
                font-size: $font-size-jayesh;
            }
        }
    }
    .chat-box-friendmsg {
        // Dropdown
        &__dropdown {
            &--svg {
                &-copy {
                }
                &-edit {
                }
                &-reply {
                }
                &-delete {
                    fill: $color-light-red;
                }
            }

            &--span {
                &-delete {
                    color: $color-light-red;
                }
            }
        }
    }
    .chat-box-usermsg {
        // Dropdown
        &__dropdown {
            &--svg {
                &-copy {
                }
                &-heart {
                    fill: $color-primary;
                }
                &-reply {
                }
                &-delete {
                    fill: $color-light-red;
                }
            }

            &--span {
                &-delete {
                    color: $color-light-red;
                }
            }
        }
    }

    .about-me {
        // Dropdown
        &__dropdown {
            &--svg {
                fill: lighten($color-grey-dark-1, 50%);
                // Types
                &-user {
                }
                &-theme {
                }
                &-setting {
                }
                &-logout {
                    fill: $color-light-red;
                }
            }
            &--span {
                &-logout {
                    color: $color-light-red;
                }
            }
        }
    }
    .chat-panel-user {
        // Dropdown
        &__dropdown {
            &--svg {
                fill: lighten($color-grey-dark-1, 50%);

                &-dot {
                }
                &-star {
                    fill: $color-primary;
                }
                &-pin {
                }
                &-mute {
                }
                &-delete {
                    fill: $color-light-red;
                }
            }
            &--span {
                &-delete {
                    color: $color-light-red;
                }
            }
        }
    }
    // ---------------------------------
    // Forms
    // Login Form And Signup Form
    .user-login,
    .user-signup {
        // background-color: $color-primary;
        background: linear-gradient(to right bottom, $color-svg-light, $color-svg-dark);
        &__title {
        }
        &__form {
            &--group {
            }
            &--label {
            }
            &--input {
                border-bottom-color: transparent;
                background-color: $color-grey-dark-2;
                color: $color-primary;

                &::placeholder {
                    color: $color-primary;
                }

                &:focus {
                    // border-bottom-color: green;
                    &:invalid {
                        border-bottom-color: red;
                    }
                }
            }
            &--btn {
                background-color: $color-grey-dark-1;
                color: $color-primary;
                transition: all 0.2s;

                &:hover {
                    background-color: darken($color-grey-dark-2, 10%);
                }
            }
        }

        &__cross {
            &--svg {
                fill: $color-grey-dark-2;
            }
        }
    }

    // Login Form
    .user-signup {
    }
    // Sign up Form
    .user-login {
    }

    // ----------------------------------
    // Components
    // Logo Box
    .logo-box {
        &__svg {
            fill: $color-primary;
        }
        &__name {
            color: $color-white;
        }
    }
    // Search
    .search {
        &__input {
            background-color: darken($color-grey-light-4, 15%);
            color: $color-grey-light-1;

            &::placeholder {
                color: $color-grey-light-4;
            }

            &:focus {
                background-color: darken($color-grey-light-4, 30%);
            }
        }

        &__button {
            background-color: darken($color-grey-light-4, 15%);
        }

        &__input:focus + .search__button {
            background-color: darken($color-grey-light-4, 30%);
        }

        &__icon {
            fill: lighten($color-grey-light-4, 10%);
        }

        &__input:focus + .search__button .search__icon {
            fill: $color-primary;
        }
    }
    // Menu
    .menu {
        &__list {
        }

        &__item {
        }

        &__link {
            color: lighten($color-grey-dark-3, 50%);
            background-color: darken($color-grey-light-4, 30%);
            border-bottom-color: transparent;

            &:hover {
                background-color: $color-grey-dark-1;
                border-bottom-color: $color-grey-light-2;
            }

            &.menu__link--active {
                border-bottom-color: $color-primary;
                background-color: $color-grey-dark-1;
            }
        }
    }

    // CTA
    .cta {
        &__btn {
        }

        &__action {
            border-color: $color-primary;
            &:hover {
                border-color: lighten($color-primary, 10%);
            }
        }

        &__sign-up {
            background-color: $color-primary;
            color: $color-grey-dark-3;

            &:hover {
                background-color: lighten($color-primary, 10%);
            }
        }
        &__log-in {
            background-color: $color-grey-dark-3;
            color: $color-primary;
            &:hover {
                color: lighten($color-primary, 10%);
            }
        }
    }

    .about-me {
        &__link {
            color: inherit;
            background-color: darken($color-grey-light-4, 15%);

            &:hover {
                background-color: darken($color-grey-light-4, 30%);
            }
        }
    }

    // Chat Panel
    .chat-panel {
    }

    .chat-panel-user {
        &__title {
            color: lighten($color-grey-light-2, 20%);

            background-color: darken($color-grey-light-3, 42.5%);
            border-color: darken($color-grey-light-3, 40%);
        }
        &__count {
            color: lighten($color-grey-light-2, 10%);
        }
        &__reload {
            fill: $color-grey-light-1;
            &:hover {
                fill: $color-primary;
            }
        }

        &__list {
        }

        &__item {
            border-top: 0.1rem solid darken($color-grey-light-3, 35%);
            border-bottom-color: darken($color-grey-light-3, 35%);
            transition: all 0.2s;
            &:hover {
                background-color: darken($color-grey-light-3, 35%);

                .chat-panel-user__state {
                    &--active {
                        border-color: darken($color-grey-light-3, 35%);
                    }
                }
            }

            &.chat-panel-user__item--selected {
                background-color: darken($color-grey-light-3, 42.5%);
                .chat-panel-user__state {
                    &--active {
                        border-color: darken($color-grey-light-3, 42.5%);
                    }
                }
            }

            &.chat-panel-user__item--active {
            }
        }

        &__link {
            color: lighten($color-grey-dark-2, 50%);
        }

        &__userphoto {
        }
        &__info {
        }
        &__username {
        }
        // Settings
        &__settings {
            &--icons {
                fill: $color-grey-light-2;
            }
        }
        .icon-pin-chat {
        }
        .icon-mute-notification {
        }
        .icon-dot-single--notification {
            fill: $color-primary;
        }
        // Option
        &__option {
            fill: $color-grey-light-2;
            &:hover {
                fill: $color-grey-light-1;
            }
        }
        // State
        &__state {
            fill: black;
            &--active {
                fill: #0f0;
                border-color: $color-grey-dark-2;
            }

            &--inactive {
                fill: transparent;
            }
        }
    }
    .chat-panel-ideal,
    .chat-panel-user__null {
        &__title {
            background-color: $color-grey-dark-3;
        }
        &__dimmer {
            &--circle {
                fill: $color-grey-dark-3;
            }
            &--rect {
                fill: $color-grey-dark-3;
            }
        }
    }

    .chat-box {
        @include darkTheme($color-grey-dark-1, 50%);
    }
    .chat-profile {
    }

    .copyright {
    }
    .created-by {
        p {
        }
        &--svg {
            fill: red;
        }
    }
    .developers {
        color: $color-svg-light;
    }
}

// Light Theme
.light {
}
