:root {
    --color-primary: #6f6f6f;
    --color-primary-light: #a2a2a2;
}

// ------------------------
// Colors
[data-color='aqua'] {
    --color-primary: #01c0c8;
    --color-primary-light: #31f3fa;
}
[data-color='green'] {
    --color-primary: #0ad80a;
    --color-primary-light: #91f991;
}
[data-color='blue'] {
    --color-primary: #0448ff;
    --color-primary-light: #8cabff;
}
[data-color='purple'] {
    --color-primary: #a613f6;
    --color-primary-light: #d796fb;
}
[data-color='red'] {
    --color-primary: #fd122e;
    --color-primary-light: #fe5569;
}
[data-color='yellow'] {
    --color-primary: #e1ad01;
    --color-primary-light: #f0d73f;
}
[data-color='pink'] {
    --color-primary: #f10043;
    --color-primary-light: #ff366e;
}
[data-color='forest'] {
    --color-primary: #42af66;
    --color-primary-light: #6dc88b;
}
[data-color='orange'] {
    --color-primary: #db4906;
    --color-primary-light: #fd6721;
}
[data-color='teal'] {
    --color-primary: #37b49b;
    --color-primary-light: #60cfb9;
}
[data-color='carrot'] {
    --color-primary: #f37e3b;
    --color-primary-light: #f5935b;
}
[data-color='grey'] {
    --color-primary: #6f6f6f;
    --color-primary-light: #a2a2a2;
}

$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);

// --------------------------
// Themes
// Dark
$color-grey-dark-1: #161616;
$color-grey-dark-2: #1e1e1e;
$color-grey-dark-3: #2a2a2a;

// Light
$color-grey-light-1: #cfcfcf;
$color-grey-light-2: #e0e0e0;
$color-grey-light-3: #efefef;

// ----------------------------
// Common Theme

$color-white: #fff;
$color-black: #000;
$color-success: #20bf6b;
$color-danger: #dc143c;
$color-active: #0f0;
$color-heart: #f00;

// Font Weights
// Available - 300,400,600,700

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

// Font Size
$fon-size-smaller: 0.8rem;
$font-size-small: 1rem;
$font-size-regular: 1.3rem;
$font-size-regular-1: 1.4rem;
$font-size-regular-2: 1.6rem;
$font-size-medium: 1.8rem;
$font-size-large: 2rem;
$font-size-larger: 2.2rem;
$font-size-largest: 2.5rem;

// Shadows
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
