$color-white: #fff;
$color-black: #000;

// Base Colors
$color-primary: #4b36d3;

// Different
$color-secondary-1: #3587d8;
$color-secondary-2: #01c0c8;

// Dark
$color-grey-dark-1: #1a1a1a;
$color-grey-dark-2: #222;
$color-grey-dark-3: #333;

// Shadows
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);

// Light
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
