<!-- About Me Dropdown -->
<div class="about-me__dropdown">
    <ul class="about-me__dropdown--list">
        <li class="about-me__dropdown--item" data-type="profile">
            <svg class="about-me__dropdown--svg about-me__dropdown--svg-profile">
                <use xlink:href="svg/sprite.svg#icon-profile"></use>
            </svg>
            <span class="about-me__dropdown--span">My Profile</span>
        </li>
        <li class="about-me__dropdown--item" data-type="theme">
            <svg class="about-me__dropdown--svg about-me__dropdown--svg-theme">
                <use xlink:href="svg/sprite.svg#icon-theme"></use>
            </svg>
            <span class="about-me__dropdown--span">Toggle Theme</span>
        </li>
        <li class="about-me__dropdown--item" data-type="setting">
            <svg class="about-me__dropdown--svg about-me__dropdown--svg-setting">
                <use xlink:href="svg/sprite.svg#icon-setting"></use>
            </svg>
            <span class="about-me__dropdown--span">My Settings</span>
        </li>
        <li class="about-me__dropdown--item" data-type="logout">
            <svg class="about-me__dropdown--svg about-me__dropdown--svg-logout">
                <use xlink:href="svg/sprite.svg#icon-logout"></use>
            </svg>
            <span class="about-me__dropdown--span about-me__dropdown--span-logout">Log out</span>
        </li>
    </ul>
</div>
