<!-- Chat Panel Dropdown -->
<div class="chat-panel-user__dropdown">
    <ul class="chat-panel-user__dropdown--list">
        <li class="chat-panel-user__dropdown--item" data-type="read">
            <!-- read or unread -->
            <svg class="chat-panel-user__dropdown--svg chat-panel-user__dropdown--svg-read">
                <use xlink:href="svg/sprite.svg#icon-read"></use>
            </svg>
            <span class="chat-panel-user__dropdown--span">Mark as read</span>
        </li>

        <li class="chat-panel-user__dropdown--item" data-type="pin">
            <!-- pin or unpin -->
            <svg class="chat-panel-user__dropdown--svg chat-panel-user__dropdown--svg-pin">
                <use xlink:href="svg/sprite.svg#icon-pin"></use>
            </svg>
            <span class="chat-panel-user__dropdown--span">Pin Chat</span>
        </li>
        <li class="chat-panel-user__dropdown--item" data-type="mute">
            <!-- mute or unmute -->
            <svg class="chat-panel-user__dropdown--svg chat-panel-user__dropdown--svg-mute">
                <use xlink:href="svg/sprite.svg#icon-mute"></use>
            </svg>
            <span class="chat-panel-user__dropdown--span">Mute Notifications</span>
        </li>
        <li class="chat-panel-user__dropdown--item" data-type="add">
            <!-- add or remove -->
            <svg class="chat-panel-user__dropdown--svg chat-panel-user__dropdown--svg-add">
                <use xlink:href="svg/sprite.svg#icon-add"></use>
            </svg>
            <span class="chat-panel-user__dropdown--span">Add to Favourites</span>
        </li>
        <li class="chat-panel-user__dropdown--item" data-type="delete">
            <svg class="chat-panel-user__dropdown--svg chat-panel-user__dropdown--svg-delete">
                <use xlink:href="svg/sprite.svg#icon-delete"></use>
            </svg>
            <span class="chat-panel-user__dropdown--span chat-panel-user__dropdown--span-delete">Delete Chat</span>
        </li>
    </ul>
</div>
