<!-- Chat Box user-out -->
<div class="chat-box-usermsg__dropdown">
    <ul class="chat-box-usermsg__dropdown--list">
        <li class="chat-box-usermsg__dropdown--item">
            <svg class="chat-box-usermsg__dropdown--svg chat-box-usermsg__dropdown--svg-copy">
                <use xlink:href="svg/sprite.svg#icon-copy"></use>
            </svg>
            <span class="chat-box-usermsg__dropdown--span">Copy Message</span>
        </li>

        <li class="chat-box-usermsg__dropdown--item">
            <svg class="chat-box-usermsg__dropdown--svg chat-box-usermsg__dropdown--svg-reply">
                <use xlink:href="svg/sprite.svg#icon-reply"></use>
            </svg>
            <span class="chat-box-usermsg__dropdown--span">Reply</span>
        </li>
        <!-- like or unlike -->
        <li class="chat-box-usermsg__dropdown--item">
            <svg class="chat-box-usermsg__dropdown--svg chat-box-usermsg__dropdown--svg-heart">
                <use xlink:href="svg/sprite.svg#icon-unlike"></use>
            </svg>
            <span class="chat-box-usermsg__dropdown--span">Like</span>
        </li>
        <li class="chat-box-usermsg__dropdown--item">
            <svg class="chat-box-usermsg__dropdown--svg chat-box-usermsg__dropdown--svg-delete">
                <use xlink:href="svg/sprite.svg#icon-delete"></use>
            </svg>
            <span class="chat-box-usermsg__dropdown--span chat-box-usermsg__dropdown--span-delete">Delete Message</span>
        </li>
    </ul>
</div>
