<!-- Insert beforeend App -->
<!-- Signup Form -->
<div class="blur">
    <div class="user-signup">
        <div class="user-signup__title">Welcome to #ChatFuel</div>
        <form class="user-signup__form">
            <div class="user-signup__form--group">
                <label class="user-signup__form--label" for="name">User Name</label>
                <input class="user-signup__form--input" id="name" type="text" placeholder="Dev Baweja" required />
            </div>

            <div class="user-signup__form--group">
                <label class="user-signup__form--label" for="email">Email address</label>
                <input
                    class="user-signup__form--input"
                    id="email"
                    type="email"
                    placeholder="dev@example.com"
                    required
                />
            </div>

            <div class="user-signup__form--group">
                <label class="user-signup__form--label" for="password">Password</label>
                <input
                    class="user-signup__form--input"
                    id="password"
                    type="password"
                    placeholder="••••••••"
                    required
                    minlength="8"
                />
            </div>

            <div class="user-signup__form--group">
                <label class="user-signup__form--label" for="confirm-password">Confirm Password</label>
                <input
                    class="user-signup__form--input"
                    id="confirm-password"
                    type="password"
                    placeholder="••••••••"
                    required
                    minlength="8"
                />
            </div>

            <button class="user-signup__form--btn">Sign Up</button>
        </form>
        <div class="user-signup__cross">
            <svg class="user-signup__cross--svg">
                <use xlink:href="img/sprite.svg#icon-cross"></use>
            </svg>
        </div>
    </div>
</div>
<!-- /Signup Form -->
